#search-suggestions {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc
} 
.card {
  margin-bottom: 20px;
}

.card-image {
  margin-top: 20px;
  max-width: 80px;
  max-height: 80px;
}


.card .card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-rate-label {
  font-weight: 0.5rem;
}

.card-unit {
  margin-top: 0.5rem;
}

